<h1>Change your password</h1>
<%= form_with url: logged_in? ? update_password_path : new_session_path, method: :post do |f| %>
    <div class="field">
    <%= f.label :new_password %><br />
    <%= f.password_field :new_pw %>
    </div>
    <%= submit_tag("Update") %>
            
<% end %>


<br><br>

<p>If your account is a Twitter account, changing your password will mean you will no longer be able to access your
account via Twitter, but can still use your Twitter email and the password you are about to create.</p>