<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Clothic</h1>
    <p>
      You have successfully signed up to our newsletter<br>
    </p>
    <p>If you wish to unsubscribe hf you can't (lol)</p>
  </body>
</html>