@import "bootstrap-sprockets";
@import "bootstrap";

.card {
  background-color: #f5f5f5;
  padding: 50px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  align-content: center;
}

img.resize {
    width:540px; /* you can use % */
    height: auto;
}

.hello-user {
  color :white;
}



